@media (max-width: 767px) {
  .flowplayer,
  .user-reviews img,
  .review-square {
    display: none;
  }
  .section {
    padding: 15px 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
html {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
  min-width: 320px;
}
h1 {
  font-size: 59px;
}
h2 {
  font-size: 30px;
  line-height: 1.2;
}
.section {
  padding: 50px;
  width: 100%;
}
.section .title {
  text-align: center;
  color: #445161;
}
header {
  background-color: #445161;
  color: #ffffff;
}
header h1 {
  margin-bottom: 40px;
}
header ul {
  list-style: inside url('../images/check-icon.png');
}
header ul li {
  font-size: 20px;
  line-height: 1.8;
  margin-left: 10px;
}
main .about-product p {
  line-height: 1.5;
}
main .about-product p:not(:last-child) {
  margin-bottom: 20px;
}
main .about-product_title {
  color: #445161;
  margin-bottom: 30px;
}
.product-pluses {
  background-color: #f7f7f7;
}
.product-pluses .title {
  margin-bottom: 10px;
}
.product-pluses .pluses {
  margin-top: 20px;
}
.product-pluses .pluses img {
  height: 30px;
  width: 30px;
  padding: 5px;
  background-color: #445161;
  margin-right: 10px;
  float: left;
}
.product-screens .item {
  margin-top: 30px;
}
.product-screens .item img {
  width: 200px;
  height: 150px;
  float: left;
  margin-right: 15px;
}
.product-screens .item h3 {
  font-size: 24px;
  line-height: 1.25;
  color: #445161;
}
.product-screens .item span {
  line-height: 1.5;
  color: #333333;
}
.reviews {
  background-color: #f7f7f7;
}
.reviews .title {
  margin-bottom: 15px;
}
.reviews .user-reviews .review {
  display: flex;
  margin-top: 24px;
}
.reviews .user-reviews .review img {
  margin: 0 16px;
  height: 75px;
}
.reviews .user-reviews .review .customer-review {
  background-color: #f0f0f0;
  font-size: 14px;
  font-style: italic;
  line-height: 1.29;
  text-align: left;
  padding: 15px;
  position: relative;
  border: 1px solid #e8e3e3;
  border-radius: 4px;
}
.reviews .user-reviews .review .review-square {
  position: absolute;
  background-color: #f0f0f0;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  margin-left: -25px;
  margin-top: 15px;
  border-bottom: 1px solid #e8e3e3;
  border-left: 1px solid #e8e3e3;
}
.buy-it-now .title {
  margin-bottom: 10px;
}
.buy-it-now .tariffs {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.buy-it-now .tariffs .tariff {
  background-color: #445161;
  font-size: 14px;
  border: 2px solid #445161;
  border-radius: 4px;
  text-align: center;
  margin-top: 20px;
}
.buy-it-now .tariffs .tariff .header {
  font-size: 24px;
  line-height: 1.25;
  color: #ffffff;
  margin: 10px;
}
.buy-it-now .tariffs .tariff .price {
  background-color: #ffffff;
  font-size: 40px;
  color: #445162;
  padding: 10px 0;
}
.buy-it-now .tariffs .tariff .tariff-list {
  color: #ffffff;
  margin: 20px;
}
.buy-it-now .tariffs .tariff .tariff-list ol {
  text-align: center;
  list-style-position: inside;
  font-size: 14px;
  line-height: 1.71;
}
.buy-it-now .tariffs .tariff .button {
  background-color: #ffffff;
  font-size: 18px;
  border: 2px solid;
  border-radius: 4px;
  color: #445162;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px 0;
}
.contacts {
  background-color: #445161;
  color: #ffffff;
}
.contacts .title {
  color: #ffffff;
  margin-bottom: 10px;
}
.contacts form {
  display: flex;
  flex-direction: column;
}
.contacts form input[type='submit'] {
  text-transform: uppercase;
  background-color: #ffffff;
  font-weight: bold;
  width: 140px;
  position: center;
}
.contacts form input,
.contacts form textarea {
  border: 1px solid white;
  border-radius: 4px;
  max-width: 500px;
  height: 40px;
  min-width: 140px;
  margin-top: 20px;
}
.contacts form textarea {
  height: 170px;
}
.contacts .socials {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 20px;
}
.contacts .socials div:last-child {
  margin-top: 30px;
}
.contacts .socials img {
  margin-right: 5px;
}
footer {
  background-color: #f7f7f7;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.3px;
  color: #445162;
  text-align: center;
  padding: 5px;
}
